.encabezado{
    text-align: center;
    color: black; 
    font-family: "Bodoni Moda SC", serif; /*rgb(220, 190, 123) */
    font-optical-sizing: auto;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    display: flex; /*poner texto e imagen al lado*/
    justify-content: center; /*poner centrado*/
    align-items: center;
}

#logo{
    max-width: 15%;
    height: 15%;
    display: flex;
    padding: 15px;
}

.opciones{
    background-color: #f8ad9d ;
    overflow: hidden; /*las opciones se queden adentro*/
    color: black; 
    justify-content: center; /*para centrar*/
    position: relative;
    font-optical-sizing: auto;
    font-family: "Bodoni Moda SC", serif; /*rgb(220, 190, 123) */
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    display: flex;
    
}

.opciones a{
    color: black;
    padding: 15px;
    text-decoration: none;/*quitarle la línea*/
    text-align: center;
    transition: 0.3s;
}

.opciones a:hover{ /*para poner color oscuro cuando estoy en él*/
    background-color: #f4978e;
}



.productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.item{
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 25px;
}

.item img{
    width: 200px;
    height: 200px;
    max-width: 200px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    
}

.nombre{
    margin: 8px 0 4px;
    margin-bottom: 0.5px;
}

.precio {
  font-size: 18px;
  font-weight: bold;
  color: #F08080;
  padding-top: 0.5px;
}

.card{
  position: relative;
  width: 200px;
  height: 270px;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.item:hover .card{
  transform: rotateY(180deg);
}

/* .card-front:hover{
  display: none;
}

.card-back:hover{
  display: block;
} */

.card-front{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  background: white;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.card-back{
  transform: rotateY(180deg);
  background: #ffe3e3;
  
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.piedepagina {
  display: flex;
  justify-content: space-between; /* separa las dos columnas */
  align-items: flex-start; /* alinea títulos en la misma altura */
  padding: 20px;
}

.contactanosf, .quienessomos {
  width: 45%; /* cada bloque ocupa casi la mitad */
}

.titulo-subrayado {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 3px solid #f4978e;
  margin-bottom: 10px; /* espacio con lo de abajo */
}

.redes img {
  width: 40px;  /* tamaño uniforme */
  margin-right: 10px;
  margin-top: 10px;
}
